*{
    margin: 0;
    padding: 0;
}

/* INDEX */

/* BODY INDEX */

.body{
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}

/* NAV INDEX */

nav{
    background-color:#9B6A6C; 
}

nav:hover {
    background-color: rgb(214, 173, 6) !important;
}

nav .nav-link{
    color: black;
    font-size: 1.5rem;
}

nav .navbar-brand{
    color: black;
    font-size: 1.5rem;
}

.nav-pills .nav-link.active{
    background-color: #e8ab12;
    color: black;
    font-size: 1.5rem;
}

nav span img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

nav span img:hover {
    transition: 5s;
    width: 200px;
    height: 200px;
}

nav div a:hover {
    transition: 3s;
    transform: rotate(30deg);
}

/* MAIN INDEX */

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;   
}

.card img{
    max-width: 700px;
    max-height: 400px;
}

.card{
    display: flex;
    align-items: center;
}

.card:hover{
    transition: 3s;
    transform: scale(1.03, 1.03);
    background-color: black !important;
    color: white;
}

/* FOOTER INDEX */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
footer img{
    width: 50px;
    height: 50px;
}

footer a:hover {
    transition: 3s;
    transform: scale(2, 1.5);
}

/* HTML GIRAS */


/* GRID GIRAS */

.gridGiras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .1fr .2fr .5fr 1fr .15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav3 nav3 nav3 nav3"
        "table table table table"
        "table table table table"
        "sectionGiras1 sectionGiras1 sectionGiras1 sectionGiras1"
        "footer footer footer footer";
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}



/* NAV GIRAS */

.nav3 {
    grid-area: nav3;
    display: flex;
    flex-direction: row;
    background-color: #9B6A6C;
}

.nav3:hover {
    background-color: rgb(214, 173, 6);
}

.nav3 img {
    height: 100px;
    width: 100px;
    border-radius: 3px black;
    margin-top: 10px;
    align-items: center;
}

.nav3 img:hover {
    transition: 5s;
    width: 200px;
    height: 200px;
}

.nav3 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
    padding-left: 300px;
}

.nav3 li {
    margin: 20px;
    list-style: none;
}

.nav3 ul li {
    padding: 0 20px;
    color: black;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.nav3 ul li a {
    text-decoration: none;
    color: black;
}

.nav3 ul li:hover {
    transition: 3s;
    transform: rotate(30deg);
}


/* TABLE GIRAS */

.table {
    grid-area: table;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.table table {
    border: black 3px solid;
    padding: 50px;
    background-color: burlywood;
    margin-top: 100px;
}

.table table:hover{
    background-color: grey;
}

.table table th {
    border: black 3px solid;
    padding: 20px;
}

.table table th:hover{
    background-color: red;
}

.table table td {
    border: black 3px solid;
    padding: 20px;
}

.table table td:hover{
    background-color: red;
}

/* SECCION 1 GIRAS */

.sectionGiras1 {
    grid-area: sectionGiras1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sectionGiras1 img {
    height: 700px;
    margin: 100px 0;
}

.sectionGiras1 img:hover{
    transition: 3s;
    transform: scale(2, 1.2);
}

/* FOOTER GIRAS */

.footer {
    grid-area: footer;
}


/* PLAYLIST */

/* GRID PLAYLIST */

.gridPlaylist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .1fr 4fr 1fr 1fr .2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav2 nav2 nav2 nav2"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
    /* display: flex; */
    align-items: stretch;
    justify-items: stretch;

}
.main{
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}


/* NAV PLAYLIST */

.nav2 {
    grid-area: nav2;
    display: flex;
    flex-direction: row;
    background-color: #9B6A6C;
    /* height: 80px; */
    justify-content: space-between;
}

.nav2:hover {
    background-color: rgb(214, 173, 6);
}

.nav2 img {
    height: 100px;
    width: 100px;
    border-radius: 3px black;
    margin-top: 10px;
    align-items: center;
}

.nav2 img:hover {
    transition: 5s;
    width: 200px;
    height: 200px;
}

.nav2 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
}

.nav2 li {
    margin: 0;
    list-style: none;
}

.nav2 ul li {
    padding: 0 50px;
    color: black;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.nav2 ul li a {
    text-decoration: none;
    color: black;
}

.nav2 ul li:hover {
    transition: 3s;
    transform: rotate(30deg);
}



/* MAIN PLAYLIST */

.main {
    grid-area: main;
}

.main {
    display: flex;
    flex-direction: column;
}

.s-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.s-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* HEADER MAIN PLAYLIST */

.headerPlaylist {
    grid-area: headerPlaylist;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}

/* SECCION 1 MAIN PLAYLIST */

.sectionPlaylist1 {
    grid-area: sectionPlaylist1;
    display: flex;
    flex-direction: column;
    animation-name: animate__heartBeat;
}

.sectionPlaylist1 h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: 'Blaka Hollow', cursive;
}

.sectionPlaylist1 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
    font-size: 2rem;
}

.div2 {
    display: flex;
    flex-direction: row-reverse;
    animation-name: animate__shakeX;
}

.sectionPlaylist1 form {
    font-size: 2rem;
}

.sectionPlaylist1 form input:hover {
    transition: 3s;
    transform: scale(3, 3);
}


/* SECCION 2 MAIN PLAYLIST */

.sectionPlaylist2 {
    grid-area: sectionPlaylist2;
    display: flex;
    flex-direction: column;
    animation-name: animate__heartBeat;
}

.sectionPlaylist2 h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: 'Blaka Hollow', cursive;
}

.sectionPlaylist2 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
    font-size: 2rem;
}

.div {
    margin-right: 10px;
    animation-name: animate__shakeX;
}

.sectionPlaylist2 div img {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 150px;
}

.sectionPlaylist2 form {
    font-size: 2rem;
}

.sectionPlaylist2 form input:hover {
    transition: 3s;
    transform: scale(3, 3);
}

/* SECCION 3 MAIN PLAYLIST */

.sectionPlaylist3 {
    grid-area: sectionPlaylist3;
    display: flex;
    flex-direction: column;
    animation-name: animate__heartBeat;
}

.sectionPlaylist3 h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: 'Blaka Hollow', cursive;
    margin-top: 30px;
}

.sectionPlaylist3 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
    font-size: 2rem;
}

.div2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    animation-name: animate__shakeX;
}

.sectionPlaylist3 form {
    font-size: 2rem;
    margin-bottom: 30px;
}

.sectionPlaylist3 form input:hover {
    transition: 3s;
    transform: scale(3, 3);
}


/* SECCION 4 MAIN PLAYLIST */

.sectionPlaylist4 {
    grid-area: sectionPlaylist4;
    display: flex;
    flex-direction: column;
    animation-name: animate__heartBeat;
}

.sectionPlaylist4 h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: 'Blaka Hollow', cursive;
    margin-top: 30px;
}

.sectionPlaylist4 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
    font-size: 2rem;
}

.div2 {
    margin-right: 10px;
    animation-name: animate__shakeX;
}

.sectionPlaylist4 div img {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
    height: 500px;
    width: 500px;
}

.sectionPlaylist4 form {
    font-size: 2rem;
    margin-bottom: 30px;
}

.sectionPlaylist4 form input:hover {
    transition: 3s;
    transform: scale(3, 3);
}

/* FOOTER PLAYLIST */

.footer {
    grid-area: footer;
    background-color: #252627;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer img {
    width: 40px;
    height: 30px;
    padding: 0 100px;
    margin-top: 30px;
}

.footer a:hover {
    transition: 3s;
    transform: scale(2, 2);
}

.footer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


/* HTML ACERCA DE GUNS */

/* MAIN */

main div p{
    font-size: 20px;
}

main div ol{
    font-size: 20px;
}
.mainGuns a:hover{
    transition: 3s !important;
    color: black !important;
    background-color: white !important;
}

div small img{
    max-width: 300px;
}


/* HTML CONTACTO */


/* GRID CONTACTO */

.gridContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr .15fr .15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav5 nav5 nav5 nav5"
        "sectionContacto1 sectionContacto1 SectionContacto2 SectionContacto2"
        "sectionContacto1 sectionContacto1 SectionContacto2 SectionContacto2"
        "sectionContacto1 sectionContacto1 SectionContacto2 SectionContacto2"
        "footer footer footer footer";
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}



/* NAV CONTACTO */

.nav5 {
    grid-area: nav5;
    display: flex;
    flex-direction: row;
    background-color: #9B6A6C;
}

.nav5:hover {
    background-color: rgb(214, 173, 6);
}

.nav5 img {
    height: 100px;
    width: 100px;
    border-radius: 3px black;
    margin-top: 10px;
    align-items: center;
}

.nav5 img:hover {
    transition: 5s;
    width: 200px;
    height: 200px;
}

.nav5 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
    padding-left: 300px;
}

.nav5 li {
    margin: 20px;
    list-style: none;
}

.nav5 ul li {
    padding: 0 20px;
    color: black;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.nav5 ul li a {
    text-decoration: none;
    color: black;
}

.nav5 ul li:hover {
    transition: 3s;
    transform: rotate(30deg);
}


/* SECCION 1 CONTACTO */

.sectionContacto1 {
    grid-area: sectionContacto1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sectionContacto1 img {
    width: 600px;
}


/* SECCION 2 CONTACTO */

.sectionContacto2 {
    grid-area: SectionContacto2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sectionContacto2 form {
    font-size: 1.5rem;
    text-align: center;
    padding: 4rem 1.5rem;
    border-radius: 20px;
    background-color: rgb(40, 37, 37);
    color: white;
}

.sectionContacto2 form:hover {
    transition: 3s;
    color: rgb(40, 37, 37);
    background-color: white;
}

.sectionContacto2 form input {
    margin: 1rem;
}

.sectionContacto2 form input:hover {
    transition: 3s;
    transform: scale(1.5, 1.5);
    background-color: black;
    color: white;
}

.sectionContacto2 form textarea {
    width: 200px;
    height: 50px;
    margin: 1rem;
}

.sectionContacto2 form textarea:hover {
    transition: 3s;
    transform: scale(1.5, 1.5);
    background-color: black;
    color: white;
}


/* FOOTER CONTACTO */

.footer {
    grid-area: footer;
}
